@charset "UTF-8";
* {
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

input, textarea {
  background: #F8F8F8;
  border-radius: 5px;
  border: none;
  border: 1px solid #eeeeee;
}

textarea {
  resize: none;
}

p {
  margin: 0px;
}

.page__form {
  margin: 100px auto;
}

.wrapper {
  max-width: 1061px;
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}
.wrapper__column {
  max-width: 668px;
  width: 100%;
}
.wrapper__column--small {
  max-width: 271px;
  width: 100%;
}
.wrapper__button {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper__title {
  margin-bottom: 32px;
}
.wrapper__text {
  margin-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #868686;
}
.wrapper__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
@media (max-width: 700px) {
  .wrapper .objects-personal__top {
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
  }
  .wrapper .objects-personal__title {
    text-align: center;
    margin-bottom: 24px;
  }
  .wrapper .objects-personal__text {
    margin-bottom: 24px;
  }
  .wrapper .objects-personal__text {
    text-align: center;
  }
  .wrapper .objects-personal__button {
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }
}

.form-block {
  display: flex;
  gap: 16px;
}

.title {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 130%;
  color: #333333;
  display: flex;
}
.title--middle {
  font-size: 20px;
}
.title--small {
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
  color: #333333;
}
.title__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}
.title__span {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
  margin-left: 4px;
}
@media (max-width: 700px) {
  .title .title {
    font-size: 20px;
  }
  .title .title--small {
    width: 100%;
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  .title .title {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  .title--middle {
    font-size: 16px;
  }
}

.inputs-block {
  width: 100%;
}
.inputs-block__title {
  margin-bottom: 24px;
  padding: 9px 0;
}
.inputs-block__item {
  margin-bottom: 24px;
}
.inputs-block__title-cover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inputs-block__wrapper {
  display: flex;
  gap: 16px;
}

.star {
  color: #e62222;
  font-size: 12px;
}

.text-link {
  color: #1C83FD;
  text-decoration: none;
}

.button-main {
  color: #333333;
  background: #FFD800;
  border: none;
  padding: 11px 24px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 130%;
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.button-main--white {
  background: white;
  border: 1.5px solid #FFD800;
}
.button-main:hover {
  color: #333333;
  background: #F1C400;
}
.button-main[disabled] {
  background-color: #cccccc;
  cursor: not-allowed;
}
@media (max-width: 700px) {
  .button-main[disabled] .button-main {
    width: 100%;
    text-align: center;
    padding: 7px 24px;
  }
}

.object-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
}
.object-item:not(:last-child) {
  border-bottom: 1px solid #DFDFDF;
}
.object-item__title {
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}
.object-item__cover {
  display: flex;
  align-items: center;
  gap: 10px;
}
.object-item__cover--main {
  gap: 13px;
}
@media (max-width: 420px) {
  .object-item .object-item__wrapper {
    display: none;
  }
}

.custom-imput {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.custom-imput__item:not(:last-child) {
  margin-bottom: 24px;
}
.custom-imput--wide {
  width: 100%;
  max-width: 472px;
}
.custom-imput--flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.custom-imput__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.main-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #868686;
}

.object-checkbox {
  display: flex;
  gap: 16px;
}
.object-checkbox__label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.object-checkbox__input {
  max-width: 266px;
  min-height: 40px;
  border: none;
  border-radius: 5px;
}

.object-form__wrapper {
  display: flex;
  gap: 16px;
}
.object-form__title {
  margin-bottom: 24px;
}
.object-form__title {
  margin-bottom: 24px;
}
.object-form__textarea {
  max-width: 339px;
  width: 100%;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}

.custom-checkbox + label::before {
  content: "";
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1.5px solid #868686;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.custom-checkbox:checked + label::before {
  border-color: #FFD800;
  background-color: #FFD800;
  background-image: url("./images/checked.svg");
}

input[type=text]:disabled {
  background: #d7d7d7;
  cursor: not-allowed;
}

.object-checkbox__text {
  width: 125px;
}

.custom-imput__span {
  margin: 0;
}

.custom-imput__cover {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.order-section {
  display: flex;
  gap: 122px;
}
.order-section__column {
  max-width: 668px;
  width: 100%;
}
.order-section__column--small {
  max-width: 271px;
  width: 100%;
}
.order-section__title {
  margin-bottom: 32px;
}
.order-section__item {
  width: 100%;
}

.order-form {
  width: 100%;
}
.order-form__item {
  margin-bottom: 48px;
}
.order-form__item--last {
  margin-bottom: 0;
}
.order-form__title {
  margin-bottom: 24px;
  padding: 9px 0;
}

.img {
  width: 44px;
  height: 44px;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-block {
  width: 100%;
}

.section-checkbox {
  display: flex;
  flex-direction: column;
}

.section-checkbox__item:not(:last-child) {
  margin-bottom: 24px;
}

/*кастомнй чекбокс*/
.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  сursor: pointer;
}

.checkbox-wrapper__label {
  display: block;
  position: relative;
  padding-left: 30px;
  /*margin-bottom: 24px*/
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.checkbox-wrapper span {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #868686;
}

.checkbox-wrapper label input:checked ~ span {
  background-color: white;
  border: 1px solid #333333;
}

.checkbox-wrapper span:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-wrapper label input:checked ~ span:after {
  display: block;
}

.checkbox-wrapper label span:after {
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #333333;
}

.radio-section {
  max-width: 334px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.custom-textarea {
  border-radius: 5px;
  padding: 10px 13px 10px;
  background: #f7f7f7;
  outline: none;
  min-height: 77px;
}
.custom-textarea--high {
  min-height: 140px;
}

.custom-input {
  border-radius: 5px;
  padding: 10px 13px 10px;
  background: #f7f7f7;
  outline: none;
  width: 100%;
}
.custom-input--small {
  max-width: 180px;
  width: 100%;
}

.payment-section__buttons-mobile {
  display: none;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  background: white;
  left: 0;
  right: 0;
  border-top: 1px solid #DFDFDF;
  padding: 16px;
  transition: 0.3s;
}
.payment-section__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}
.payment-section__button {
  margin-right: 37px;
  background: none;
  border: none;
  color: #1C83FD;
}

.payment-row {
  display: flex;
  gap: 48px;
}

.payment-row__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #868686;
  max-width: 121px;
  width: 100%;
}

.payment-content__item:not(:last-child) {
  margin-bottom: 8px;
}

.payment-row__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #333333;
}

.payment-row__title--red {
  color: #FF2323;
}

.payment-section__title {
  margin-bottom: 24px;
}

.payment-section__content {
  margin-bottom: 24px;
}

.object-form__cover {
  display: flex;
  gap: 24px;
}

.payment-section__submit {
  width: 100%;
}

.payment-section__submit:not(:last-child) {
  margin-bottom: 16px;
}

label {
  margin: 0;
}

.img--mobile {
  display: none;
}

.order-form__title-cover {
  display: flex;
  justify-content: space-between;
}

.payment-section__title--mobile {
  display: none;
}

.object-checkbox__text {
  width: 125px;
}

.object-form__wrapper .custom-imputs {
  margin-bottom: 0;
}

.payment-section__buttons--mobile {
  display: none;
}

.object-form__wrapper--indent {
  margin-bottom: 24px;
}

.hide-desktop {
  display: none;
}

@media (max-width: 980px) {
  .order-section {
    gap: 40px;
  }
}
@media (max-width: 870px) {
  .order-section {
    flex-direction: column;
  }
  .order-section__column {
    order: 2;
  }
  .order-section__column--small {
    order: 1;
    margin: 0 auto;
  }
}
.custom-select {
  position: relative;
  background: #f7f7f7;
  border: 1px solid #eeeeee;
  border-radius: 2px;
  box-shadow: none;
  color: #383838;
  height: auto;
  font-size: 13px;
  outline: none;
  width: 100%;
}
.custom-select__header {
  cursor: pointer;
  display: flex;
  color: #868686;
  justify-content: space-between;
  align-items: center;
  padding: 11px 14px;
}
.custom-select__current {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.custom-select__icon {
  height: 6px;
  width: 12px;
  transition: 0.2s ease;
}
.custom-select__icon--active {
  transform: rotate(180deg);
}
.custom-select__body {
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(51, 51, 51, 0.2);
  border-radius: 5px;
}
.custom-select__item {
  cursor: pointer;
  padding: 8px;
  color: #868686;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
}
.custom-select__item:hover {
  background-color: #F8F8F8;
}
.custom-select__item--active {
  font-weight: 600;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}
.custom-select__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #333333;
}
.custom-select__item-add {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 0 8px 8px;
  text-decoration: none;
}

.custom-select__value {
  display: none;
}

.custom-select.is-active .custom-select__body {
  display: block;
}

.input-error {
  border: 1.5px solid #FF2323;
  background-image: url("./images/input-error.png");
  background-repeat: no-repeat;
  background-position: 99% center;
}

.error-text {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #FF2323;
}

.error-text--active {
  display: flex;
}

@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    gap: 35px;
  }
  .wrapper__column {
    order: 2;
    margin: 0 auto;
  }
  .wrapper__column--small {
    order: 1;
    max-width: 668px;
  }
  .payment-row {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .wrapper__column--small {
    order: 1;
  }
  .page__form {
    margin: 75px auto;
  }
  .img {
    display: none;
  }
  .img--mobile {
    display: flex;
  }
  .inputs-block__title {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .inputs-block__title-cover {
    flex-direction: column;
    align-items: start;
  }
  .order-form__item {
    margin-bottom: 24px;
  }
  .object-checkbox--column {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .page__form {
    margin: 15px auto;
  }
  .object-form__cover {
    flex-direction: column;
    gap: 12px;
  }
  .object-form__cover .custom-input {
    order: 2;
    max-width: unset;
  }
  .object-form__cover .custom-checkbox {
    order: 1;
  }
  .order-form__item--mobile {
    flex-direction: column;
  }
  .payment-section__buttons {
    display: none;
  }
  .payment-section__buttons-mobile {
    display: flex;
    flex-direction: column;
  }
  .payment-section__row {
    margin-bottom: 0;
  }
}
.active {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=index.css.map */